.subTitleModal {
  font-family: fantasy;
  font-weight: bold;
}
.subTitle {
  font-size: 20px;
  font-weight: bolder;
  margin-left: 10px;
}
.titleModal {
  font-family: fantasy;
  font-weight: bold;

  font-size: 25px;
}
