.titleModal {
  font-family: fantasy;
  font-weight: bold;
  font-size: 17px;
}
.subTitle {
  font-size: 20px;
  font-weight: bolder;
  margin-left: 20px;
}
.nameHero {
  font-size: 22px;
  font-family: fantasy;
  font-weight: bolder;
  margin-left: 20px;
  align-items: center;
}
