.imageSuperHero {
  height: 100%;
  width: 100%;
  max-width: 200px;
  max-height: 170px;
  margin: 15px;
}
.containerSuperHero {
  height: 100%;
  width: 100%;
  max-width: 350px;
  max-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
}
.add {
  align-self: flex-end;
  height: 100%;
  width: 100%;
  max-width: 30px;
  max-height: 30px;
  margin: 8px;
}
.nameSuperHero {
  font-family: fantasy;
  font-weight: bold;
  font-size: 27px;
}
