.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerSearchHeroPage {
  padding: 15px;
  position: relative;
}
.rowSuperHeroes {
  align-items: center;
  justify-content: center;
}
.buttonSearch {
  align-self: flex-end;
  color: white;
  margin-left: 5px;
}
